#user-reviews-heading {
    margin: 20px;
}

#movie-title {
    margin: 20px;
}

#review-form {
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#review-list {
    overflow: scroll;
    height: 600px;
}
#review {
    clear: both;
    float: left;
    word-break: break-all;
}

#review-comments {
    margin-top: -3px;
    display: inline-block;
}

#review-users {
    display: inline-block;
}