.breadcomb-area{
  margin-bottom: 30px;
}

.container2 {
  margin: 50px auto;
  width: 700px;
}

.card {
  background-color: #000;
  border-radius: 2px;
  margin-bottom: 65px;
  height: 200px;
}

.u-clearfix {
  *transform: scale(2);
}

.card-media {
  float: left;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-media-img {
  width: 200px;
  height: 198px;
  float: left;
}

.card-media-tag {
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .22);
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: .9px;
  padding: 1px 10px;
  position: absolute;
  left: 200px;
  text-transform: uppercase;
  top: 0;
  width: 120px;
  height: 30px;
}

.card-media-tag-orange {
  background-color: #FF982C;
  color: #fff;
}

.card-body {
  float: left;
  padding: 60px 0px 0px 40px;
  width: 100%;
  height: 100%;
}

.card-body-heading {
  color: #6f6f6f;
  display: inline-block;
  font-size: 23px;
  position: relative;
  left: 180px;
}

.card-body-description1 {
  color: #6f6f6f;
  display: inline-block;
  font-size: 20px;
  position: relative;
  left: 180px;
}

.card-body-description2 {
  color: #6f6f6f;
  display: inline-block;
  font-size: 15px;
  position: relative;
  left: 180px;
}

