{% extends 'moovie/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
    <h1 class="h1-responsive font-weight-bold text-center my-4">All About us</h1>
    <div>
        <h2 class="h2-responsive font-weight-bold text-center my-2">We are a movie rating site with a love for cow jokes.</h2>
    </div>
    <!-- contact -->
    <div class="contact-agile">
        <div class="container" >
            <div class="col-md-3 location-agileinfo">
                <h3>Team member</h3>
                <h4>Kai Li</h4>
                <h4>Michael Parr-Burman</h4>
                <h4>Boxun Tong</h4>
                <h4>Cagdas Tombul</h4>
                <h4>Guangyu Bi</h4>
            </div>
            <div class="col-md-3 social-w3l">
                <img src="/media/team.jpg"  alt="A photo of our team." height=80% width=80%/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
