<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            Moovie -
            {% block title_block %}
                Hi!
            {% endblock %}
        </title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <nav>
                <!-- very incomplete nav! needs:
                        - proper links
                        - search bar implemented
                        - (once we have ther user/login functionality)
                            + different appearance based on log in state
                 -->
                <ul>
                    <li><a href="{% url 'moovie:index' %}">home(logo?)</a></li>
                    <li><a href="#">search bar</a></li>
                    <li><a href="{% url 'moovie:contact_us' %}">contact us</a></li>
                    <li><a href="#">my profile</a></li>
                    <li><a href="#">log out</a></li>
                </ul>
            </nav>
        </div>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
    </body>
</html>