<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        
        {% block static_file_block %}
        {% endblock %}
        
        <title>
            Moovie -
            {% block title_block %}
                Hi!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            <nav>
                <!-- very incomplete nav! needs:
                        - proper links
                        - search bar implemented
                        - (once we have ther user/login functionality)
                            + different appearance based on log in state
                 -->
                <ul>
                    <li><a href="{% url 'moovie:index' %}">home(logo?)</a></li>
                    <li><a href="#">search bar</a></li>
                    <li><a href="{% url 'moovie:contact_us' %}">contact us</a></li>
                    <li><a href="#">my profile</a></li>
                    <li><a href="#">log out</a></li>
                </ul>
            </nav>
        </div>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
    </body>
</html>