{% extends 'moovie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if movie %}
        {{ movie.name }}
    {% else %}
        Unknown Movie
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if movie %}
        <h1>{{ movie.title }}</h1>
        <div id="wrapper">
            <div id="left">
                <p>Released: {{ movie.release_date }}</p>
                <p>
                    Directed by: {% for director in directors %} 
                        <a href="SEARCHBYDIRECTOR">{{ director.name }} {{director.surname}} </a>
                    {% endfor %}
                </p>
                <p>
                    Starring: {% for star in stars %}
                        <a href="SEARCHBYACTOR">{{ star.name }} {{star.surname}} </a>
                    {% endfor %}
                </p>
                <p>Description: {{ movie.description }}</p>
                <p>
                    Genre tags: {% for genre in genres %}
                        <a href="SEARCHBYGENRE"> {{ genre.name }}</a>
                    {% endfor %}
                </p>
            </div>
            <div id="right">
                <img src="{{ MEDIA_URL }}{{ movie.image }}" alt="">
                <p>Average rating: {{ movie.average_rating }}</p>
            </div>
        </div>
        <div>
            <h2>User Reviews</h2>
            {% for review in reviews %}
                <h3>{{ review.header }}</h3>
                <p>rating: {{ review.rating }}/5</p>
                <p>{{ review.comment }}</p>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div>
            <h2>Write a Review</h2>
            <form id="review_form" method="post" action="{% url 'moovie:add_review' movie.id %}"
            enctype="multipart/form-data">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="hidden" name="username" value="{{user.username}}">
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Review" />
        </form>
        </div>
        {% endif %}
    {% else %}
        The specified movie does not exist.
    {% endif %}
{% endblock %}