{% extends 'moovie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if user_profile %}
        {{ user_profile.user.username }}
    {% else %}
        Unknown User
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if user_profile %}

        <!-- user info section -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 bg-secondary border rounded">
                        <div class="row"><p><br></p></div>
                        <div class="row">
                            <div class="col">
                                <div class="profile-image-container">
                                    <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="Profile picture for {{ user_profile.user.username }}" class="rounded-circle border profile-image">
                                </div>
                            </div>
                            <div class="col text-center">
                                <h1><strong>{{ user_profile.user.username }}</strong></h1> <br>
                                <!-- number of reviews -->
                                <strong>{{ reviews_with_movies|length }}</strong> reviews <br>
                                <!-- number in wishlist -->
                                <strong>{{ wishlist|length }}</strong> in wishlist
                                {% if user.username == user_profile.user.username %}
                                    {% if user.is_authenticated %}
                                        <br/>
                                        <br/>
                                        <a href="{% url 'moovie:edit_profile' %}"><strong>Edit profile</strong></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row-4 text-center auto">
                            <p><br/><strong>bio</strong><br>{{ user_profile.bio }}</p>
                        </div>
                        <div class="row"><p><br></p></div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>

        </div>

        <!--  reviews section -->
        <div class="section">
            <div class="container">
                <div class="section-header">
                    My Reviews
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    <!-- each movie item -->
                    {% if reviews_with_movies %}
                    {% for r in reviews_with_movies %}
                    <a href="{% url 'moovie:show_movie_profile' r.movie.id %}" class="movie-item">
                        <img src="{{ MEDIA_URL }}{{ r.movie.image }}"" alt="poster image for {{ r.movie.title }}">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                {{ r.movie.title }}
                            </div>
                            <div class="movie-infos">
                                <span>My Rating:</span>
                                <i class="bx bxs-star"></i>
                                <span>{{ r.review.rating }}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{ r.movie.duration }} min</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                    {% else %}
                    No reviews yet.

                    {% endif %}
                </div>
            </div>
        </div>

        <!-- wishlist section -->
        <div class="section">
            <div class="container">
                <div class="section-header">
                    Wishlist
                </div>
                <div class="movies-slide carousel-nav-center owl-carousel">
                    <!-- link to each movie item -->
                    {% if wishlist %}
                    {% for movie in wishlist %}
                    <a href="{% url 'moovie:show_movie_profile' movie.id %}" class="movie-item">
                        <img src="{{ MEDIA_URL }}{{ movie.image }}"" alt=" poster image for {{ movie.title }}">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                {{ movie.title }}
                            </div>
                            <div class="movie-infos">
                                <i class="bx bxs-star"></i>
                                <span>{{ movie.average_rating }}</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>{{ movie.duration }} min</span>
                            </div> 
                        </div>
                    </a>
                    {% endfor %}
        
                    {% else %}
                    Wishlist is empty.
        
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
    <!-- no user found -->
        The specified user does not exist.
    {% endif %}
{% endblock %}